<h1>Experience</h1>

<hr>

<h2>Work experience</h2>
<p>I have 2+ years of experience developing of apps, web platforms, and IT solutions for a variety of clients (both from Argentina and other countries).</p>
<p>Aside of programming, these are some of the key things I do:</p>

<ul>
    <li>
        Extraction of requirements from clients and requirement analysis for each project.
    </li>
    <li>
        Deployment of web sites and applications: configuration of Linux servers, domains/DNS managment, among other similar tasks.
    </li>
    <li>
        Direct communication and interaction with my clients.
    </li>
</ul>

<p>Over the years I've been working as a freelance FullStack Developer, I developed and completed various projects</p>
<p>Instead of listing each one of them, I will list the key major things that I achieved/learned while working on them:</p>

<ul>
    <li>
        Learning how to develop (from scratch!) on Angular
    </li>
    <li>
        Making REST APIs
    </li>
    <li>
        Implementing Server Side Rendering with Angular Universal
    </li>
    <li>
        Search Engine Optimization
    </li>
    <li>
        Platform deployment and configuration on Linux-based servers
    </li>
    <li>
        Configuring of apache/nginx
    </li>
    <li>
        Implmenting SSL certificates
    </li>
    <li>
        Implementing an email server based on Postfix, Dovecot, and using SMTP Relays (also includes learning about DMARC, DKIM)
    </li>
    <li>
        DNS Managment
    </li>
    <li>
        Payment system implementation using Mercado Pago's SDK
    </li>
    <li>
        CI/CD pipelines to automate deployment
    </li>
    <li>
        Automated invoice generation through a web bot developed using the Selenium framework
    </li>
    <li>
        Implementing web functions on Firebase
    </li>
    <li>
        Used the Firebase Realtime Database
    </li>
    <li>
        Implementing a system that is able to export the pentesting reports into a Microsoft Word document, including images, styles, formats, etc
    </li>
    <li>
        Modified Moodle’s source code in order to satisfy with specific requirements on the front-end
    </li>
    <li>
        Migrated a MySQL database to a Postgres one, converting datatypes to ensure compatibility
    </li>
</ul>

<hr>

<h2>Academic Researcher</h2>
<p>
    I became a member of an investigation and research project from my university (Universidad Nacional de La Matanza).
</p>
<p>
    The project involved Machine Learning and Data Science. It's goal was applying Data Science to diagnose patients with Parkinson’s disease
</p>

<ul>
    <li>
        I developed prediction models based on convolutional neural networks in order to diagnose patients with Parkinson's disease. The models were fed spectrograms generated through audio samples of patients speech
    </li>
    <li>
        Created Python scripts that automate the generation of spectrograms and preprocessing of audio signals
    </li>
    <li>
        Partook on a multidisciplinary research and exploration of various fields (Data Science, Machine Learning, Speech Processing, Health)
    </li>
    <li>
        Interacted with professionals and academics of these fields
    </li>
    <li>
        Utilized Tensorflow and Keras
    </li>
</ul>

<hr>

<h2>Programming languages</h2>
<p>Currently focused on Typescript and Javascript, but I also have experience and made projects with:</p>
<ul>
    <li>
        Typescript & Javascript
    </li>
    <li>
        Java
    </li>
    <li>
        C#
    </li>
    <li>
        C
    </li>
    <li>
        Python
    </li>
    <li>
        PHP
    </li>
    <li>
        SQL
    </li>
</ul>

<h2>Web related technologies (frameworks, libraries, cloud)</h2>

<ul>
    <li>
        Node.js
    </li>
    <li>
        NestJS
    </li>
    <li>
        Angular / Angular Universal
    </li>
    <li>
        NGRX/NGXS (state managment)
    </li>
    <li>
        Vue
    </li>
    <li>
        Laravel
    </li>
    <li>
        Firebase
    </li>
</ul>
<hr>
<h2>
    Dev tools
</h2>
<ul>
    <li>
        Git
    </li>
    <li>
        Docker
    </li>
    <li>
        CI/CD
    </li>
</ul>


<hr>
<h2>Other</h2>
<p>
    I made some projects, (such as videogames, or bots to automate stuff) using the following:
</p>
<ul>
    <li>
        Electron
    </li>
    <li>
        Arduino
    </li>
    <li>
        Unity
    </li>
    <li>
        Phaser
    </li>
    <li>
        Selenium
    </li>
</ul>
