<p *ngFor="let c of componentStrings.slice(0, 5)">{{c.display}}</p>
<p>{{componentStrings[5].display}} <a [href]="componentStrings[6].content">{{componentStrings[6].display}}</a></p>
<p>{{componentStrings[7].display}} <a href="assets/sentry.jpg">{{componentStrings[8].display}}</a></p>

<pre [ngClass]="{ 'fadeIn': checkLength(), 'hide' : this.hide}">
**++=*%%%%-#%%%%%%%%%%@@@@@@@@@@@@@@%%%#%%%@@@@@#@@@@@@@@@%%%%%=..#%%%@@@@@@#%#%@@@@@@@@@@
#*==-=#%%%*+%%%%%%%%%%@@@@@@@@@@@@@@%*=-=#%@@@@@#@@@@@@@@@@%%%%#**%*%%@@@@@@@@%%@@@@@@@@@@
**++==*%#%%+%%%%%%%%%%@@@@@@@@@@@@@@@%%%%%@@@@@@%@@@@@@@@@@#%%%@@%%*#@@@@@@%@@@@@@@@@@@@@@
#+=++=+%%#%##%%%%%%%%%%@@@@@@@@@@@@@@@@@@@@@@@@@%@@@@@@@@@@*@@@@@%%==#%%%%@@@%@@@@@@@@@@@@
%*=++###%#%%#%%%%%%%%%%@@@@@@@@@@@@@@@@@@@@@@@@#@@@@@@@@@@#%%%#%@%%::-*%%@@@@%@@@@@@@@@@@@
@##++*##%##%#%%@%%%%%%%@@@%%%##@@@@@@@%##%#%@@@#@@@@@@@@@@%%%#*#*++....*@@@@@%%%%@%%@@@@@@
@%##++**#%#%%%%%%#*+*%%%@#=====%@@@@@@@@%%@@@@@#@@@@@@@@@%# .:-==-. :*#@%%***%%%%%%%@@@@@@
@@%#***##%##%%%#%%%##%%=#%%%%%##@@@@@@@@%%@@@@#%%%%%%%%##*=      ..:#%%%%%-::=*#%%@@@@@@@@
@@%%+#*##*%%%%%#%%%**+==#%%#+-..+#%%%%%#%%#++==#---::::-----===--=-=*%%%%%+:......:-+@%***
@@@#=*++++%#%%*+##*+*==+*=:.    .:----==##*++++*++++++===========+--.-++++---=++*###%@@%@@
@@#**++==+#%%%#*+===--=-:-===++*******************+++++++========+=-+######@@@@@@@@@@@@#@@
@#*@%===+++%%@+==::.:--++++**********************+++++=+====+====+==-++*#*%%%@@%@@@@@@@@@@
#%@@%*++*###*=-::..:-=+++++**********************++++++++++++===++==:....:=***%*##@@@@@@@%
**=-+++++==-:::::::====++++************************++++++++++++++###+--=*%%+++*++**@%*%@@@
===-=*=++**#****==+=-===++++*****##******************####%%%%%@@@@@@#+++%+@++++****%%##@@%
#**%@***+-----:=++--====+++****#########%%%%@@@@@@@@@@@@@@@@@@@@@@@@%++#**@#*****##@%##@@#
+*+#@#**#*##*+**++*****###%%%%@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@###**#%++++***@%##@@#
@@@#@@####+#@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@%%@@@@@@@@@@@@@@@@@@@*%++++@+++++++%%*#@%*
@%@**@%@#%#*#@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@%@@@@@@@%%%@@@@@@@@@@@@@%+====%*======**=#@*+
@%@@*#%**#+++#@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@%%@@@%%#*#**+*%@@@@@@@@@@@*====*%=====+===#@+=
#@@@==%#*%*+++%@@@@@@@@@@@@@@@@@@@@@@@@@@@@%%@@@%*#**#**+=+%@@@@@@@@@#+=+=+=%+=+=+++==%@*=
+@@@*=+@#%**++*@@@@@@@@@@@@@@@@@@@@@@@@@@@@%@@@%**%%@@@@%#*%%**%%@@@@#++++++#*++++++++@@%%
*+@%#==#@#*****%@@@@@@@@@@@@@@@@@@@@%##@@@@@@@@%%%%%%%%#++*#@@%%#@@@@#*+*++++++++++***%%#%
++#@**=*@%++*+*+%@@@@@@@@@%****%%%%######@@@@#+=**##%%##= :=**#@@%%@@%###*###%%%%%%%#%@#**
=*+@@#+##@++++***@@@@@@@@@%%@%%*%@@##@@%+%%@@+==*###%%##*:.=**#%%@%@@%%%#####****++**#%+==
=*+*@%=*=%#=++=++*@@%@@@@@@%####@@@@%###@@@@*===+#%%%%%%#=:-++#%%%%@%#*##*+====-:::...    
==*+#@*+**%*++++++%@@%%%%%@@@@@@@@@@@%%@%@@#+*#@@@@@@@@@@@@@%#+*#%##=::.               ...
=++#*@%+*+*+------=*#*******++++#########%@@@@@@@@#%@@@@@@@@@@@@%%%+= =              .....
+++#+#@#+-+------=-=======---==+########%@@@@@@%%*++#@@**#@@@@@@@@%=+:-             ......
=++***%%=--+======++++===---::=#######%%@@@@@@@*##########@@@@@@@@@#*:       .............
++++++*%*====---::..         :*#####%%%@@@@@@@@+++++++++++%@@@@@@@@@# ...  ...............
---::......                 .*#####%%%%@@@@@@@@*+=--=====+%@@@@@@@@@#.....................
:..........                .+#####%%%%%%@@@@@@@*==-=====++%@@@@@@@@%%:....................
::...........             .:%%%%%@@@@@@@@@@@@@@%=-======+*%@@@@@@@%%%:....................
::....................  ....#%%%%%%@@@%%%%%%@@@@@#++++*%@%%@@@@@#****:....................
::..........................-=---#%%%%=::....=*%@@@@@@@@@@@@@@@%+........................:
:::..............................#%%%%:.       .:+%#%#++==-*%@@%#............:::::::::::::
::...............................*%%%%-..........+#%%#**=..+@@@%%.......::::::::::::::::::
::...............................-#%%%+.........-###%###*:.-@@@%%:...:::::::::::::::::::::
:::...............................#%%%#........:-%%%%%%%*:::%%%%%-.:::::::::::::::::::::::
::::::::..........................=#**#-.......::-======-:::%#+#%=::::::::::::::::::::::::
:::::::::::::......................#%%%*.......::::::::::::.#%%%%=::::::::::::::::::::::::
:::::::::::::::::::::::......::::::=%%%#-......:::::..::::::*%%%%+:::::::::::::::::::::::-
::::::::::::::::::::::::::::::::::::#%%%*...::::::::::::::::+%%%%#:::::::::---------------
--------::::::::::::::::::::::::::::=#%%%-::::::::::::::::::=%%%%%::::::::---------:::-:--
----------:::::::::::::::::::::::::::*%*@*::::::::::::::::::-%#*%%=:---------------::::-:-
----------:::::::::::::::::::::::::::-%@@%:::::::::::::::::::%%#%%*:-------------:::::::::
-----------:::::::::::::::::::::::::::%%%%=::::::::::::::::::#%%%%#=:::::-::::::::::::::::
-----------:::::::::::::::::::::::::::%%%%=:::::::::::-::::::*%%%%=#-:::::::::::::::::::::
----------:::::::::::::::::::::::::::=##%%-:----::::::::::::.+@@@@=-*:::::------::::::::::
---------:--::::::::::::::::::::::+##%%%@%##=-:::::::::::::::-%@@@*:+*----:::::::::::::::-
------:::::::::::::::::::::::::::-#%%+++@%%%+-:::::::::::::-##%@@@%++#*::::::::-::::::----
----:::-::::::::::::::--:::::::--*%%%%%@@%%%+=--:::::::::::+%%%%%*%%%%#+::::::::--:::-----
---::::::::::::::::::::::::::::--*%%%%%%%%%#==-::::::::::--#%%@@@@%%%%+*=:::::::---::-----
-:::::::::::::::::::::::::::::----=********+=--:::::::::---#%%@@@@@@%%+=#-::::::----------
-::::::::::::::::::::::::::::::------====-----:::::::::---=+####%%%%%#==+*::::::----------
-:-:-::::::-::::-::-----:::::::-----------:::::::::----------========----%----------------
------------:---:-:--------::-----------::::::::::----------------=------%----------------
---------------::----------------------:::::::::-------------------------%----------------
</pre>