<h1>Education</h1>
<hr>
<h2>University</h2>
<ul>
    <li>
        Degree: Computer Science Engineer (five years)
    </li>
    <li>
        Institution: Universidad Nacional de La Matanza (Argentina, Buenos Aires)
    </li>
    <li>
        <a href="https://ingenieria.unlam.edu.ar/index.php?seccion=3&idArticulo=30">Program</a>
    </li>
    <li>
        Start year: 2017
    </li>
    <li>
        Graduation year: 2022 (soon!)
    </li>
    <li>Completed subjects to date: 40/44</li>
    <li>
        Average grade to date: 8,23
    </li>
</ul>

<hr>
<h2>High School</h2>
<ul>
    <li>
        Degree: IT Technician
    </li>
    <li>
        Institution: Instituto Técnico Industrial San Judas Tadeo (Argentina, Buenos Aires)
    </li>
    <li>
        Start year: 2013
    </li>
    <li>
        Graduation year: 2016
    </li>
    <li>
        Final average grade: 9,15
    </li>
</ul>