<div id="splash-screen">
    <div class="centred">
        <div class="logo">
            <img src="assets/aperture-xp.png">
            <div class="ms">Aperture<sup>®</sup></div>
            <div class="win">GLaDOS</div>
            <div class="xp">xp</div>
        </div>
        <div #loader class="loader">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
    <div class="copy">Copyright &copy; Aperture Science</div>
    <div class="title">Aperture Science</div>
</div>