<h1>About me</h1>

<hr>

<h2>Basic info:</h2>

<p>Computer Science Engineer. Currently working as a Full Stack Web Developer, but not all my projects revolve around that.</p>
<p>I standout for my ability to solve problems. I'm constantly in the pursuit of new knowledge and techniques that I can acquire, learn, and put to test on my working field.</p>
<p>I make all my solutions, projects and work focusing on quality, always placing myself on the side of the end user.</p>

<h2>Relevant links:</h2>

<div class="buttons">
    <a href="https://github.com/Squiro"><button >Github</button>  </a>
    <a href="https://www.linkedin.com/in/alesio-sinopoli/?locale=en_US"><button>LinkedIn</button></a>
    <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"><button>Profile at NASA</button>  </a>
</div>