<p>{{componentStrings[0].display}}</p>
<pre class="typewriter">
    .o.       oooooooooo.    .oooooo.   ooooo     ooo ooooooooooooo      ooo        ooooo oooooooooooo 
    .888.      `888'   `Y8b  d8P'  `Y8b  `888'     `8' 8'   888   `8      `88.       .888' `888'     `8 
   .8"888.      888     888 888      888  888       8       888            888b     d'888   888         
  .8' `888.     888oooo888' 888      888  888       8       888            8 Y88. .P  888   888oooo8    
 .88ooo8888.    888    `88b 888      888  888       8       888            8  `888'   888   888    "    
.8'     `888.   888    .88P `88b    d88'  `88.    .8'       888            8    Y     888   888       o 
o88o     o8888o o888bood8P'   `Y8bood8P'     `YbodP'        o888o          o8o        o888o o888ooooood8 
                                                                                                                                                                                                                                                   
</pre>

<p *ngFor="let c of componentStrings.slice(1, 6)">{{c.display}}</p>

<div>
    <a href="https://github.com/Squiro">{{componentStrings[6].display}}</a> 
    {{componentStrings[7].display}}
    <a href="https://www.linkedin.com/in/alesio-sinopoli/?locale=en_US">{{componentStrings[8].display}}</a>
    {{componentStrings[9].display}}
    <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">{{componentStrings[10].display}}</a>
</div>